@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: azure;
}
.container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0px 20px;
}
.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
    font-size:3em ;
    font-weight: bolder;
    padding-bottom:10px ;
    border-bottom: 3px solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;  
}
.container .box .dream img{
    width: 100%;  
    padding-bottom: 15px;
    border-radius: 5px;
}
.container .btn{
  margin: 40px 0.70px 0;  
  background-color: rgb(70, 68, 68);
  padding: 15px  40px;
  border-radius: 5px;
}
.container .btn a{
   color: white;
   font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and( max-width:643px){
   
}
header{
    background-color: rgb(192, 186, 186);

    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px; 

}
header .navbar{
  position: relative;
  font-weight:70;
  color: #fff;
  text-decoration: none;
   font-size: 2em; 
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  transition: 0.6s;  
}

header nav ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}
header nav ul li{
  position: relative;
  list-style: none;  
}
header nav ul li a{
  position: relative;
  margin: 15px;
  text-decoration: none;   
  color: rgb(51, 49, 49);
  justify-content: space-between;
 
  font-weight: 300px;
  transition: 0.5%;
}
