*{
    margin: 0;
    padding: 0;
}
body{
    background: #2e8d86;
}

.container{
    width: 80%;
    margin: 80px auto;
}
.container h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.row{
   display: flex;  
   align-items: center;
   flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
    /* display: flex; */
}
.feature {
    width: 93%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #998b8b;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
    /* margin-top: -18%; */
    
    
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #c7f0ec;
    position:absolute ;
    left: 0;
    bottom: 10;
    transition: 0.5s;

}
.nav ul li:hover::after{
  width: 100%;
  height: 5px;  
} 
.navbar{
    margin-left: 80%;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #c7f0ec;
    position:absolute ;
    left: -20%;
    bottom: 10;
    transition: 0.5s;

}
.navbar ul li:hover::after{
  width: 100%;
  height: 5px;  
} 
.small-img{
    position: relative;
}
.small-img img{
    width: 150px;
}
.small-img p{
    margin-left: 5%;
    color: #707070;
    line-height:22px ;
    font-size: 20px;
}
.play-btn{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-img .play-btn{
  width:20%;  
}
.video-player{
 width: 80%; 
 margin-left: 45%;
 margin-top: 25%; 
 transform: translate(-50%,-50%);
 display: none;
   
}
.video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}