*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
.Container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(vids/mansion10.jpg);
    background-position: center;
    background-size: cover;

}
.navba{
    /* position: fixed; */
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.navba ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: -23%;

  
}
.navba ul li a{
    text-decoration: none;
    color: rgb(224, 214, 201);
    text-transform: uppercase;
}
.navba ul li a:hover{
    color: yellow;
    width: 20px;
}
.navba ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    /* position:absolute ; */
    left: 0;
    bottom: -10;
    transition: 0.5s;

}
 
.col{
    flex-basis: 50%;
}
.card{
    width: 370px;
    height:290px ;
    
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(vids/mansion2.jpeg);

}
.card2{
    background-image: url(vids/mansion3.jpeg);

}
.card3{
    background-image: url(vids/mansion9.jpg);

}
.card4{
    background-image: url(vids/mansion5.jpeg);

}
.card5{
    background-image: url(vids/mansion6.jpeg);

}
.card6{
    background-image: url(vids/mansion1.jpeg);

}
.card7{
    background-image: url(vids/mansion10.jpg);

}
.card8{
    background-image: url(vids/mansion4.jpeg);

}
.card9{
    background-image: url(vids/mansion8.jpg);

}
.card:hover{
    transform: translateY(-10px);
}




